#btn_add_media {
  margin-top: 10px;
}
#btn_add_poster_media {
  margin-top: 10px;
}
/*
.sale{
    text-decoration: line-through;
}*/
.data_price .data {
  width: 85%;
  display: inline-block;
}
.data_price .control {
  display: inline-block;
  text-align: right;
  width: 14%;
}
.data_price .form label {
  width: 12%;
  display: inline-block;
}
.data_price .form {
  padding-bottom: 10px;
}
.data_price .item {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.data_price .button {
  vertical-align: inherit;
}
.data_price_html {
  display: none;
}
.ui-datepicker {
  display: none;
}
.format-setting .description {
  padding: 0 !important;
}
.data_price input {
  width: 35%;
}
.content-admin {
  padding-top: 20px;
}
.content-admin h1,
.content-admin h2,
.content-admin h3,
.content-admin h4,
.content-admin h5,
.content-admin h6 {
  font-weight: normal;
}
.content-admin .st_withdrawal_info_name {
  float: left;
}
.content-admin .st_withdrawal_info_avatar {
  text-align: center;
}
.content-admin .st_withdrawal_info_avatar img {
  border-radius: 50%;
}
.content-admin .st-dashboard-stat {
  display: block;
  padding-bottom: 20px;
  overflow: hidden;
}
.content-admin .st-dashboard-stat::before,
.st-dashboard-stat::after {
  content: " ";
  display: table;
}
.content-admin .st-dashboard-stat::after {
  clear: both;
}
.content-admin .st_bortlet .st-dashboard-stat:last-child {
  margin-bottom: 0;
}
.content-admin .st-dashboard-stat .visual {
  display: block;
  float: left;
  font-size: 35px;
  height: 80px;
  line-height: 35px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-top: 10px;
  width: 80px;
}
.content-admin .st-dashboard-stat .visual > i {
  font-size: 110px;
  line-height: 110px;
  margin-left: -10px;
}
.content-admin .st-dashboard-stat .details {
  padding-right: 15px;
  position: absolute;
  right: 15px;
}
.content-admin .st-dashboard-stat .details .number {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 36px;
  margin-bottom: 0;
  padding-top: 25px;
  text-align: right;
}
.content-admin .st-dashboard-stat .details .desc {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  text-align: right;
}
.content-admin .st-dashboard-stat .more {
  clear: both;
  display: block;
  font-size: 11px;
  font-weight: 300;
  opacity: 0.7;
  padding: 6px 10px;
  position: relative;
  text-transform: uppercase;
}
.content-admin .st-dashboard-stat .more:hover {
  opacity: 0.9;
  text-decoration: none;
}
.content-admin .st-dashboard-stat .more > i {
  display: inline-block;
  float: right;
  margin-top: 1px;
}
.content-admin .st-dashboard-stat-light {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.content-admin .st-dashboard-stat-light .details {
  margin-bottom: 5px;
}
.content-admin .st-dashboard-stat-light .details .number {
  font-weight: 300;
  margin-bottom: 0;
}
.content-admin .st-dashboard-stat .more {
  clear: both;
  display: block;
  font-size: 11px;
  font-weight: 300;
  opacity: 0.7;
  padding: 6px 10px;
  position: relative;
  text-transform: uppercase;
}
.content-admin .st-dashboard-stat.st_hotel-madison {
  background-color: #578ebe;
}
.content-admin .st-dashboard-stat.st_hotel-madison .more {
  background-color: #4884b8;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_hotel-madison .visual > i {
  color: #ffffff;
  opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_hotel-madison .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_hotel-madison .details .desc {
  color: #ffffff;
  opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st_rental-madison {
  background-color: #e35b5a;
}
.content-admin .st-dashboard-stat.st_rental-madison .more {
  background-color: #e35b5a;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_rental-madison .visual > i {
  color: #ffffff;
  opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_rental-madison .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_rental-madison .details .desc {
  color: #ffffff;
  opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st_cars-madison {
  background-color: #44b6ae;
}
.content-admin .st-dashboard-stat.st_cars-madison .more {
  background-color: #44b6ae;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_cars-madison .visual > i {
  color: #ffffff;
  opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_cars-madison .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_cars-madison .details .desc {
  color: #ffffff;
  opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st_tours-madison {
  background-color: #8775a7;
}
.content-admin .st-dashboard-stat.st_tours-madison .more {
  background-color: #8775a7;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_tours-madison .visual > i {
  color: #ffffff;
  opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_tours-madison .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_tours-madison .details .desc {
  color: #ffffff;
  opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st_activity-madison {
  background-color: #27ae60;
}
.content-admin .st-dashboard-stat.st_activity-madison .more {
  background-color: #27ae60;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_activity-madison .visual > i {
  color: #ffffff;
  opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_activity-madison .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st_activity-madison .details .desc {
  color: #ffffff;
  opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-total-madison {
  background-color: #ed8323;
}
.content-admin .st-dashboard-stat.st-total-madison .more {
  background-color: #ed8323;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-total-madison .visual > i {
  color: #ffffff;
  opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-total-madison .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-total-madison .details .desc {
  color: #ffffff;
  opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-month-madison {
  background-color: #a7c0a9;
}
.content-admin .st-dashboard-stat.st-month-madison .more {
  background-color: #a7c0a9;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-madison .visual > i {
  color: #ffffff;
  opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-month-madison .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-madison .details .desc {
  color: #ffffff;
  opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-month-2 {
  background-color: #7e7e7e;
}
.content-admin .st-dashboard-stat.st-month-2 .more {
  background-color: #7e7e7e;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-2 .visual > i {
  color: #ffffff;
  opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-month-2 .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-2 .details .desc {
  color: #ffffff;
  opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-month-3 {
  background-color: #34734c;
}
.content-admin .st-dashboard-stat.st-month-3 .more {
  background-color: #34734c;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-3 .visual > i {
  color: #ffffff;
  opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-month-3 .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-3 .details .desc {
  color: #ffffff;
  opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-month-4 {
  background-color: #d639d2;
}
.content-admin .st-dashboard-stat.st-month-4 .more {
  background-color: #d639d2;
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-4 .visual > i {
  color: #ffffff;
  opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-month-4 .details .number {
  color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-4 .details .desc {
  color: #ffffff;
  opacity: 1;
}
.content-admin .st-dashboard-stat .more:hover {
  opacity: 1;
}
.content-admin .st-dashboard-stat .title {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
  padding-top: 18px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.content-admin .st-dashboard-new .details {
  left: auto;
  padding-right: 0px;
  position: absolute;
  top: 60px;
  right: auto;
  width: 100%;
}
.content-admin .st-dashboard-new .details .number {
  padding-top: 0px;
  text-align: center;
}
.content-admin .st-dashboard-new .detail-item {
  color: #fff;
}
.content-admin .st-dashboard-new .visual {
  display: block;
  float: right;
  font-size: 35px;
  height: 80px;
  line-height: 35px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-top: 10px;
  width: 80px;
}
.content-admin .mid-content .st-dashboard-stat {
  position: relative;
}
/* ----------------- ----------------*/
.content-admin .st_bortlet {
  border-radius: 0px;
  margin-top: 0;
  padding: 0;
}
.content-admin .st_bortlet.box {
  padding: 0 !important;
}
/*-------------------- -----------------------*/
.content-admin .st_bortlet > .st_bortlet-body.st_hotel,
.st_bortlet.st_hotel {
  background-color: #4884b8;
}
.content-admin .st_bortlet.box.st_hotel {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color #578ebe #578ebe;
  -o-border-image: none;
     border-image: none;
  border-style: none solid solid;
  border-width: 0 1px 1px;
}
.content-admin .st_bortlet.box.st_hotel > .st_bortlet-title > .caption {
  color: #ffffff;
}
.content-admin .st_bortlet.box.st_hotel > .st_bortlet-title {
  background-color: #578ebe;
}
/*-------------------- -----------------------*/
/*-------------------- -----------------------*/
.content-admin.st_bortlet > .st_bortlet-title {
  border-bottom: 1px solid #eee;
  border-radius: 4px 4px 0 0;
  margin-bottom: 10px;
  min-height: 41px;
  padding: 0;
}
.content-admin .st_bortlet.box > .st_bortlet-title {
  border-bottom: 0 none;
  color: #fff;
  margin-bottom: 0;
  padding: 0 10px;
}
.content-admin .st_bortlet > .st_bortlet-title > .caption {
  display: inline-block;
  float: left;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0;
}
.content-admin .st_bortlet.box > .st_bortlet-title > .caption {
  padding: 11px 0 9px;
}
.content-admin .st_bortlet > .st_bortlet-title > .caption > i {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 13px;
  margin-right: 5px;
  margin-top: 4px;
}
.content-admin .st_bortlet > .st_bortlet-body {
  clear: both;
}
.content-admin .st_bortlet.box > .st_bortlet-body {
  background-color: #fff;
  padding: 10px;
}
.content-admin .bot-content table {
  border-collapse: collapse;
}
.content-admin .bot-content table,
.content-admin .bot-content th,
.content-admin .bot-content td {
  border: 1px solid #ccc;
  line-height: 30px;
}
.text-center {
  text-align: center;
}
.content-admin .st_div_canvas {
  width: 100%;
  background: #ffffff;
}
.content-admin .st_div_item_canvas,
.st_div_canvas {
  margin: 20px 0;
  position: relative;
}
.content-admin .user-content .head_reports {
  margin-top: 15px;
}
.content-admin .user-content .head_reports {
  background: #eee;
}
.content-admin .user-content.col-md-6 {
  padding-right: 0px;
}
.content-admin .head_control .head_time {
  font-size: 18px;
  padding: 10px;
}
.content-admin .head_control .col-md-5 {
  padding-top: 5px;
}
.content-admin .head-st_hotel {
  background-color: #4884b8 !important;
  color: #fff;
  margin-bottom: 20px;
}
.content-admin .head_control .col-md-7 {
  font-size: 15px;
}
.content-admin select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
}
.content-admin .st_bortlet_new_admin {
  margin-top: 20px;
}
.content-admin .st_bortlet_new_admin > .st_bortlet-title > .caption {
  padding: 15px 0 !important;
}
.content-admin .st_bortlet_new_admin .table-scrollable {
  overflow-y: scroll;
  height: 420px;
}
.content-admin a {
  text-decoration: none;
}
.filter-admin-partner {
  margin-bottom: 10px;
}
.tablenav .tablenav-pages a {
  padding: 7px 5px 6px 5px;
  font-size: 14px;
}
.tablenav .tablenav-pages a,
.tablenav-pages span.current {
  border: 1px solid #ccc;
  text-decoration: none;
}
.tablenav-pages span.current {
  padding: 5px 10px 5px 10px;
}
.content-hide {
  display: none;
}
.content-hide.active {
  display: block;
}
.st_nav_service_partner {
  cursor: pointer;
}
.st_change_loading {
  padding-top: 6px;
  display: none;
}
#content-detail-service .nav-tab-wrapper {
  margin-bottom: 10px;
}
.content-admin select {
  line-height: 24px;
}
.st_hidden_input_field {
  display: none;
}
/* Custom refund manager list admin */
.ad-refund-list table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-collapse: collapse;
}
.ad-refund-list table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.ad-refund-list table tr th {
  border: 1px solid #ddd;
  padding: 13px 8px;
  line-height: 1.42857143;
  vertical-align: top;
  text-align: left;
}
.ad-refund-list table tr td {
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
.ad-refund-list table tr td.booking-history-type {
  text-align: center;
}
.ad-refund-list table tr td.booking-history-type i {
  display: block;
  font-size: 25px;
  color: #626262;
  margin-bottom: 2px;
}
.ad-refund-list table tr td small {
  line-height: 1em;
  display: block;
}
.ad-refund-list table tr td a {
  color: #ed8323;
  text-decoration: none;
}
.ad-refund-list table tr td a.with_a_refund {
  background: #ed8323;
  border-color: #ed8323;
  color: #fff;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
}
.ad-refund-list .pagination {
  margin-bottom: 20px;
  white-space: nowrap;
  border-radius: 0;
  display: block;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}
.ad-refund-list .pagination {
  overflow: hidden;
  margin: 0;
}
.ad-refund-list .pagination li {
  display: block;
  float: left;
  margin-left: 5px;
}
.ad-refund-list .pagination li a,
.ad-refund-list .pagination li span {
  margin-left: 0;
  border: none;
  border-radius: 0 !important;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ed8323;
}
.ad-refund-list .pagination li span {
  background: #ed8323;
  border-color: #ed8323;
  color: #fff;
}
.ad-refund-list .pagination li a:hover {
  background: #4d4d4d;
  color: #fff;
}
/* Modal for refund */
#with-refund-modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  display: none;
}
#with-refund-modal .modal-dialog {
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) !important;
  transform: translateY(-50%) translateX(-50%) !important;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 600px;
}
#with-refund-modal .modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
#with-refund-modal .modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
#with-refund-modal .modal-header .close {
  margin-top: -2px;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  font-size: 21px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
#with-refund-modal .modal-header .modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 23.66px;
}
#with-refund-modal .modal-body {
  position: relative;
  padding: 15px;
}
#with-refund-modal .modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
#with-refund-modal .modal-footer button {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}
#with-refund-modal .modal-footer button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  border-radius: 10px;
}
#with-refund-modal .modal-footer .refund_complete {
  background: #ed8323;
  border-color: #ed8323;
  color: #fff;
}
#with-refund-modal .modal-footer .refund_complete:hover {
  background: #ed8323;
  border-color: #ed8323;
  color: #fff;
}
#with-refund-modal .modal-body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
#with-refund-modal .modal-body .overlay .spinner {
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#with-refund-modal .modal-body .modal-content-inner .mt10 {
  margin-top: 10px;
}
#with-refund-modal .modal-body .modal-content-inner .mt20 {
  margin-top: 20px;
}
#with-refund-modal .modal-body .modal-content-inner .box-icon-success {
  background: #51a351 !important;
  margin: 0 auto;
  width: 90px !important;
  height: 90px !important;
  line-height: 90px !important;
  font-size: 42px !important;
  z-index: 1;
  position: relative;
  text-align: center;
  display: block;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
  margin-bottom: 30px !important;
}
#with-refund-modal .modal-body .modal-content-inner h4 {
  text-align: center;
  font-size: 23.66px;
}
b.sync-done {
  color: #35b65b;
}
.st_btn_start_sync {
  float: left;
  margin-right: 15px !important;
}
.st-sync-availability-note {
  padding: 5px 0;
}
.st-reports-wrap .st-reports-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  margin: 0px!important;
}
.st-reports-wrap .st-reports-flex .report-sidebar {
  width: 300px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-right: 15px;
  padding: 15px;
}
.st-reports-wrap .st-reports-flex .report-sidebar .filter-item {
  margin-bottom: 20px;
}
.st-reports-wrap .st-reports-flex .report-sidebar .filter-item .filter-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}
.st-reports-wrap .st-reports-flex .report-sidebar .filter-item .filter-control {
  width: 100%;
}
.st-reports-wrap .st-reports-flex .report-sidebar .filter-item .select2-container {
  width: 100%;
}
.st-reports-wrap .st-reports-flex .report-chart {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #fff;
  padding: 12px;
  position: relative;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}
.st_report_date_ranges {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.st_report_date_ranges li {
  line-height: 26px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0px;
  display: inline-block;
}
.st_report_date_ranges li a {
  border-right: 1px solid #dfdfdf;
  padding: 10px;
  display: block;
  text-decoration: none;
}
.st_report_date_ranges li.active {
  background: #fff;
  -webkit-box-shadow: 0 4px 0 0 #fff;
          box-shadow: 0 4px 0 0 #fff;
}
.st_report_date_ranges li.active a {
  color: #777;
}
.st_report_date_ranges li.custom {
  padding: 9px 10px;
}
.st_report_date_ranges li.custom .form-control {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #777;
  text-align: center;
  outline: 0;
  -webkit-transition: 50ms border-color ease-in-out;
  transition: 50ms border-color ease-in-out;
  width: 120px;
}
.report-by-post_types {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}
.report-by-post_types .post-type-item-wrap {
  padding: 15px;
}
.report-by-post_types .post-type-item {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: 15px;
}
.report-by-post_types .post-type-item .amount {
  font-size: 21px;
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: right;
}
.report-by-post_types .post-type-item .post-type-name {
  font-size: 18px;
  display: block;
  font-weight: 600;
  text-align: right;
}
.report-by-post_types .post-type-item .post-type-icon {
  margin-right: 30px;
}
.st-admin-paginate {
  margin: 20px 0px;
}
.st-admin-paginate span,
.st-admin-paginate a {
  display: inline-block;
  padding: 7px 5px 6px 5px;
  font-size: 14px;
  background: #e5e5e5;
  text-align: center;
  min-width: 17px;
}
.st-admin-paginate a {
  text-decoration: none;
}
.st-admin-paginate a:hover {
  color: #fff;
  background: #00a0d2;
}
.st-admin-paginate span {
  color: #fff;
  background: #00a0d2;
}
/*# sourceMappingURL=custom_admin.css.map */