.package-page-st .breadcrumb {
  padding: 0px; }
  .package-page-st .breadcrumb .st-breadcrumb {
    background-color: #FFFFFF; }
.package-page-st [class*=" box-icon-"]:not(.box-icon-white):not(.box-icon-border-dashed):not(.box-icon-border) {
  padding: 30px;
  color: #FFF;
  font-size: 30px;
  border-radius: 50%;
  background: #4bbd4b;
  margin-top: 30px; }
.payment-form .title {
  margin-bottom: 30px; }
.payment-form .payment-item {
  margin-bottom: 35px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .payment-form .payment-item .dropdown {
    width: 100%; }
  .payment-form .payment-item .st-icheck-item {
    position: relative;
    padding-left: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 21px; }
    .payment-form .payment-item .st-icheck-item label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;
      color: #5E6D77;
      font-weight: normal;
      margin-bottom: 0px;
      cursor: pointer; }
      .payment-form .payment-item .st-icheck-item label .check-payment {
        position: relative;
        overflow: hidden;
        height: 16px;
        width: 16px;
        float: left;
        margin-right: 15px; }
        .payment-form .payment-item .st-icheck-item label .check-payment input[type="radio"] {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          margin: 0;
          top: 0;
          left: 0; }
        .payment-form .payment-item .st-icheck-item label .check-payment .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid #A0A9B2; }
      .payment-form .payment-item .st-icheck-item label .payment-title {
        min-width: 140px;
        display: inline-block;
        color: #1A2B48;
        font-weight: 500; }
      .payment-form .payment-item .st-icheck-item label img {
        max-height: 60px; }
.payment-form .dropdown-menu {
  width: 100%;
  margin-top: 30px;
  border: 2px solid #D7DCE3;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  padding: 25px 15px; }
  .payment-form .dropdown-menu:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    border-width: 10px;
    border-color: transparent #fff #fff transparent;
    top: -8px;
    left: 30px;
    right: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-box-shadow: 2px 2px 0px #dfdfdf;
    box-shadow: 2px 2px 0px #dfdfdf; }
.payment-form .pm-info img {
  max-width: 180px;
  margin-bottom: 10px;
  height: auto; }
.payment-form .pm-info p {
  margin: 0; }
.mt20 {
  margin-top: 20px !important; }
.st-notice-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .st-notice-success .icon-success {
    margin-right: 30px; }
  .st-notice-success .title-admin .st-admin-success {
    font-family: 'Poppins';
    font-size: 24px;
    color: #1A2B48;
    letter-spacing: 0;
    font-weight: 500; }
    .st-notice-success .title-admin .st-admin-success span {
      font-weight: 400; }
  .st-notice-success .title-admin .st-text {
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6D77;
    letter-spacing: 0; }
.st-title-yourinfor h2 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: #1A2B48;
  letter-spacing: 0;
  text-align: left; }
.st-table-infor {
  border: 1px solid #D7DCE3;
  border-radius: 3px;
  padding: 30px; }
  .st-table-infor .tb_cart_customer td {
    border-bottom: 1px solid #D7DCE3;
    padding-top: 20px;
    padding-bottom: 20px; }
    .st-table-infor .tb_cart_customer td strong {
      font-family: 'Poppins';
      font-size: 14px;
      color: #1A2B48;
      letter-spacing: 0; }
  .st-table-infor .tb_cart_customer tr:nth-child(1) td {
    padding-top: 0px; }
.sidebar-you-item {
  border: 1px solid #D7DCE3;
  border-radius: 3px;
  padding: 30px; }
  .sidebar-you-item .infor-your-item p {
    font-family: 'Poppins';
    font-size: 14px;
    color: #1A2B48;
    letter-spacing: 0;
    margin: 0px;
    margin-bottom: 17px; }
.sidebar-order {
  position: relative; }
  .sidebar-order ul {
    padding: 15px 30px;
    margin: 0px;
    list-style: none; }
    .sidebar-order ul li:nth-child(2) {
      margin-bottom: 15px;
      margin-top: 15px; }
    .sidebar-order ul li:nth-child(3) {
      margin-bottom: 15px; }
    .sidebar-order ul p {
      font-size: 16px;
      color: #1A2B48;
      letter-spacing: 0;
      margin: 0px; }
  .sidebar-order::before {
    position: absolute;
    width: 3px;
    height: 100%;
    background: #5191FA;
    content: ""; }
.package-cart {
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 2px #ddd;
  box-shadow: 1px 1px 2px #ddd; }
  .package-cart .cart-head {
    padding: 20px 15px;
    background: #f7f7f7; }
    .package-cart .cart-head h4 {
      color: #3498DB; }
      .package-cart .cart-head h4 .fa {
        color: #fff;
        background: #ccc;
        padding: 5px;
        font-size: 20px; }
  .package-cart .cart-content {
    padding: 20px 15px;
    border-top: 1px solid #ccc; }
    .package-cart .cart-content .item {
      border-bottom: 1px dashed #ddd;
      margin-bottom: 3px; }
  .package-cart .cart-footer {
    padding: 20px 15px;
    border-top: 1px solid #ccc; }
.st-payment-tabs-wrap ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }
#mpk-form #st_submit_member_package {
  margin-top: 30px; }
#mpk-form .fa.input-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: block;
  left: 1px;
  text-align: center;
  color: #b3b3b3;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 99991; }
#mpk-form .form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  padding-left: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; }
#mpk-form .form-group {
  position: relative; }
#mpk-form label {
  -webkit-transition: .3s;
  transition: .3s; }
#mpk-form .st-payment-tabs .payment-gateway {
  width: 25%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left; }
  #mpk-form .st-payment-tabs .payment-gateway.active .payment-gateway-wrap {
    background: #ffc; }
  #mpk-form .st-payment-tabs .payment-gateway .payment-gateway-wrap {
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
    padding: 10px;
    -webkit-transition: all .3s;
    transition: all .3s; }
    #mpk-form .st-payment-tabs .payment-gateway .payment-gateway-wrap:after {
      content: "";
      border-color: inherit;
      position: absolute;
      bottom: -12px;
      left: 50%;
      margin-left: -12px;
      display: none;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 11px solid #ccc; }
    #mpk-form .st-payment-tabs .payment-gateway .payment-gateway-wrap .logo {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 15px;
      height: 100px;
      display: table;
      width: 100%; }
      #mpk-form .st-payment-tabs .payment-gateway .payment-gateway-wrap .logo .h-center {
        display: table-cell;
        vertical-align: middle; }
    #mpk-form .st-payment-tabs .payment-gateway .payment-gateway-wrap .gateway-name {
      font-weight: 700;
      margin-bottom: 20px;
      font-size: 16px;
      text-transform: uppercase; }
    #mpk-form .st-payment-tabs .payment-gateway .payment-gateway-wrap .i-radio {
      float: none;
      margin: 0;
      left: auto;
      border-radius: 50%; }
      #mpk-form .st-payment-tabs .payment-gateway .payment-gateway-wrap .i-radio.checked {
        border-color: #ed8323;
        background: #ed8323;
        border: 1px solid #ed8323; }
.item-member-ship {
  position: relative;
  display: block; }
  .item-member-ship:hover .item-st {
    -webkit-box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1); }
    .item-member-ship:hover .item-st .button-get {
      background-color: #5191FA; }
      .item-member-ship:hover .item-st .button-get .add_cart_package_new {
        color: #FFFFFF;
        background-color: #5191FA;
        background: transparent; }
  .item-member-ship .item-st {
    padding-top: 3.75rem;
    border: 1px solid #DAE1E7;
    border-radius: 5px;
    border-radius: 5px;
    padding-right: 1.88rem;
    padding-left: 1.88rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .item-member-ship .item-st .icon-table {
      text-align: center; }
    .item-member-ship .item-st .title {
      text-align: center;
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 18px;
      color: #7C90A9;
      letter-spacing: 0;
      margin-top: 1.63rem;
      margin-bottom: 1.63rem; }
    .item-member-ship .item-st .price {
      text-align: center;
      line-height: 1; }
      .item-member-ship .item-st .price span {
        text-align: center;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 48px;
        color: #5191FA;
        letter-spacing: 0; }
        .item-member-ship .item-st .price span.sign {
          font-weight: 700;
          vertical-align: super;
          line-height: 1;
          margin-right: -10px;
          font-size: 18px;
          color: #5191FA;
          letter-spacing: 0; }
    .item-member-ship .item-st .time-packpage p {
      font-family: Poppins;
      font-size: 12px;
      color: #7C90A9;
      letter-spacing: 0;
      text-align: center; }
    .item-member-ship .item-st .pricingContent {
      margin-top: 1.88rem; }
      .item-member-ship .item-st .pricingContent ul {
        list-style: none;
        margin: 0px;
        padding: 0px; }
        .item-member-ship .item-st .pricingContent ul li {
          border-bottom: 1px solid #DAE1E7;
          padding-top: 1.25rem;
          padding-bottom: 1.25rem; }
          .item-member-ship .item-st .pricingContent ul li:first-child {
            border-top: 1px solid #DAE1E7; }
          .item-member-ship .item-st .pricingContent ul li img {
            margin-right: 0.94rem; }
    .item-member-ship .item-st .button-get {
      border: 2px solid #5191FA;
      border-radius: 3px;
      margin-top: 1.88rem;
      margin-bottom: 1.88rem;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .item-member-ship .item-st .button-get .add_cart_package_new {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 14px;
        color: #1A2B48;
        letter-spacing: 0;
        display: block;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        background-color: transparent;
        background: transparent;
        width: 100%; }
@media all and (max-width: 768px) {
  .item-member-ship {
    margin-bottom: 15px; }
  .st-notice-success {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .st-notice-success .icon-success {
      margin-right: 15px; }
      .st-notice-success .icon-success img {
        width: 50px;
        height: 50px; }
    .st-notice-success .title-admin .st-admin-success {
      font-family: 'Poppins';
      font-size: 16px;
      color: #1A2B48;
      letter-spacing: 0;
      font-weight: 500; }
      .st-notice-success .title-admin .st-admin-success span {
        font-weight: 400; }
    .st-notice-success .title-admin .st-text {
      font-family: 'Poppins';
      font-size: 14px;
      color: #5E6D77;
      letter-spacing: 0; } }
.st-become-faqs h3 img {
  margin-right: 15px; }
