@media (max-width: 1367px) {
  body .icon-images-scroll {
    bottom: 16% !important; } }

@media (max-width: 1199px) {
  .sts-room-wrapper.list .item {
    position: relative; }
    .sts-room-wrapper.list .item .content {
      padding: 25px 25px 25px 25px; }
      .sts-room-wrapper.list .item .content .action {
        position: absolute;
        bottom: 25px; }
  .single-hotel_room .sts-single-room-alone .sts-banner {
    height: 600px; } }

@media (max-width: 991px) {
  .sts-banner {
    height: 450px; }
  .sts-toolbar {
    padding-left: 20px; }
    .sts-toolbar .layout {
      margin-top: 3px; }
    .sts-toolbar.search_page {
      position: relative;
      display: block; }
      .sts-toolbar.search_page .result-text {
        margin-bottom: 10px; }
      .sts-toolbar.search_page .item-param {
        margin-left: 0;
        margin-bottom: 5px; }
        .sts-toolbar.search_page .item-param .label {
          padding-left: 0;
          padding-top: 0;
          padding-bottom: 0; }
      .sts-toolbar.search_page .st-modify-room-search {
        position: absolute;
        right: 20px;
        margin: auto;
        top: 0;
        bottom: 0;
        height: 42px; }
  .sts-room-wrapper.grid .item {
    margin-top: 40px; }
    .sts-room-wrapper.grid .item .content {
      padding: 20px 20px 30px 20px; }
      .sts-room-wrapper.grid .item .content h2.title {
        font-size: 22px; }
      .sts-room-wrapper.grid .item .content .desc {
        display: none; }
      .sts-room-wrapper.grid .item .content .facility ul li {
        margin-right: 20px; }
        .sts-room-wrapper.grid .item .content .facility ul li .field-icon svg {
          width: 25px; }
      .sts-room-wrapper.grid .item .content .action {
        text-align: center; }
        .sts-room-wrapper.grid .item .content .action .btn {
          padding: 10px 30px;
          display: inline-block;
          width: 100%; }
        .sts-room-wrapper.grid .item .content .action select {
          padding: 9px 15px 9px 15px;
          width: 100%;
          margin-bottom: 15px;
          margin-right: 0; }
  .sts-room-wrapper.list .item {
    position: relative; }
    .sts-room-wrapper.list .item .content h2.title {
      font-size: 22px; }
    .sts-room-wrapper.list .item .content .desc {
      display: none; }
    .sts-room-wrapper.list .item .content .facility ul li {
      margin-right: 20px; }
      .sts-room-wrapper.list .item .content .facility ul li .field-icon svg {
        width: 25px; }
    .sts-room-wrapper.list .item .content .action .btn {
      padding: 10px 30px; }
    .sts-room-wrapper.list .item .content .action select {
      padding: 9px 15px 9px 15px; }
  .single-hotel_room .sts-single-room-alone .sts-banner {
    height: 500px; }
  .single-hotel_room .sts-single-room-alone .sts-booking-form {
    margin-bottom: 40px; }
  .single-hotel_room .sts-single-room-alone .service-attribute ul {
    margin-bottom: 15px; }
  .single-hotel_room .sts-single-room-alone .sts-room-gallery .carousel-image {
    height: 500px; } }

@media (max-width: 767px) {
  .sts-banner {
    height: 350px;
    margin-bottom: 100px; }
    .sts-banner .page-title {
      font-size: 50px;
      bottom: 100px; }
    .sts-banner:before {
      height: 50px; }
    .sts-banner:after {
      height: 50px;
      bottom: -50px; }
  .sts-room-wrapper.grid .item {
    margin-top: 40px; }
    .sts-room-wrapper.grid .item .thumb img {
      min-width: 100%; }
  .sts-room-wrapper.list .item .thumb {
    display: block;
    width: 100%; }
    .sts-room-wrapper.list .item .thumb img {
      min-width: 100%; }
  .sts-room-wrapper.list .item .content {
    width: 100%; }
    .sts-room-wrapper.list .item .content .action {
      position: relative;
      bottom: auto; }
  .sts-room-wrapper .item .thumb .owl-nav {
    display: block; }
  .sts-toolbar .layout {
    display: none; }
  .sts-toolbar .dropdown-category {
    width: 100%; }
    .sts-toolbar .dropdown-category select {
      width: 100%; }
  .single-hotel_room .sts-single-room-alone .sts-banner {
    height: 350px; }
  .single-hotel_room .sts-single-room-alone .sts-room-gallery .carousel-image {
    height: 350px; }
  .sts-vinhome-slider .search-form-text {
    top: 50%; }
    .sts-vinhome-slider .search-form-text .st-heading {
      font-size: 37px;
      line-height: 60px;
      top: 50%; }
    .sts-vinhome-slider .search-form-text .sub-heading {
      margin-bottom: 0; }
  .sts-vinhome-slider .vinhome-slider-pag {
    bottom: 7%;
    width: 100%;
    left: 0;
    text-align: center; }
    .sts-vinhome-slider .vinhome-slider-pag .pag-item {
      display: inline-block;
      margin: auto;
      margin-left: 10px;
      margin-right: 10px; }
  body .st-filter {
    left: auto;
    top: 0 !important; } }

@media (max-width: 575px) {
  .sts-banner {
    height: 200px;
    margin-bottom: 70px; }
    .sts-banner .page-title {
      font-size: 35px;
      bottom: 75px; }
    .sts-banner:before {
      height: 30px; }
    .sts-banner:after {
      height: 30px;
      bottom: -30px; }
  .sts-toolbar.search_page {
    padding: 30px 20px 28px 20px; }
    .sts-toolbar.search_page .item-param.date .value {
      display: block; }
    .sts-toolbar.search_page .st-modify-room-search {
      position: relative;
      right: auto;
      margin-top: 10px; }
  .sts-check-available-form .st-room-check-available .sts-form-wrapper {
    display: block;
    width: 65%;
    margin: auto; }
    .sts-check-available-form .st-room-check-available .sts-form-wrapper .item {
      width: 50%;
      margin-bottom: 40px;
      padding-top: 30px; }
      .sts-check-available-form .st-room-check-available .sts-form-wrapper .item.sts-time {
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
        .sts-check-available-form .st-room-check-available .sts-form-wrapper .item.sts-time:nth-child(2) {
          border-right: none; }
  .sts-popup-search-form .sts-check-available-form {
    padding: 28px 0;
    background-image: none; }
    .sts-popup-search-form .sts-check-available-form .title-section {
      font-size: 25px;
      margin-bottom: 30px; }
    .sts-popup-search-form .sts-check-available-form .st-room-check-available .sts-form-wrapper .item {
      padding-top: 15px; }
      .sts-popup-search-form .sts-check-available-form .st-room-check-available .sts-form-wrapper .item.sts-time {
        padding-bottom: 15px; }
  .sts-popup-search-form .mfp-close {
    top: 0;
    right: 0; }
  .single-hotel_room .sts-single-room-alone .sts-banner {
    height: 300px; } }

@media (max-width: 480px) {
  .single-hotel_room .sts-single-room-alone .price-wrapper {
    text-align: center; } }

@media (max-width: 430px) {
  .sts-room-wrapper.list .item .content .action .btn {
    width: 100%;
    margin-top: 30px; }
  .sts-room-wrapper.list .item .content .action select {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0; }
  .sts-room-wrapper.list .item .content .action .form-more-extra {
    position: absolute;
    bottom: 54px;
    width: 100%; }
  .single-hotel_room .sts-single-room-alone .service-attribute ul li {
    width: 100%; } }

@media (max-width: 380px) {
  .sts-check-available-form .st-room-check-available .sts-form-wrapper {
    width: 90%; } }
